@import './assets/styles/fonts'; // import fonts
@import './assets/styles/baseColor'; // import baseColors

html {
  font-family: 'Proxima';
}

body {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.header {
  width: 100%;
  background-color: #3c3c3cfa;
  height: 300px;
  color: rgb(216, 216, 216);

  .header-container {
    text-align: center;
    font-weight: 500;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    h1 {
      margin: 0 0 20px 0;
    }

    a {
      margin-left: 5px;
      color: $primary-color;
    }
  }

  .build-status {
    margin: 10px;
  }
}

.steps {
  position: absolute;
  width: 40%;
  left: 50%;
  transform: translateX(-50%);

  .code-container {
    pre {
      background-color: rgb(238, 238, 238);
      padding: 20px;
    }
  }
}
